


/*colors*/

$black: #222222;
$sun-yellow: #fed136;
$white: #ffffff;
$warm-grey: #777777;
$greyish-brown: #555555;
$pinkish-grey: #bbbbbb;
$grey-7: #f7f7f7;
$modal-blue: #b2cbee;
$option-list: #ebebeb;
$option-border: #a5a5a5;
$option-bg: #dedede;
$option-mark: #5c5c5c;


